@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;
.decisionCardContainer {
  @include m.flex(row, space-between, flex-start);
  flex-wrap: wrap;
  margin: v.$font-space-xxxxl 0;
  gap: v.$font-space-xxxxl;
}

.decisionCard {
  max-width: 300px;
  padding: v.$font-space-xxxxl;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: v.$border-radius-rounded;
  h4 {
    font-size: v.$font-size-xxl;
    font-weight: v.$font-weight-extrablack;
  }
  p {
    font-weight: v.$font-weight-light;
    padding-bottom: v.$font-space-xxxl;
    text-align: justify;
    font-size: v.$font-size-s;
  }
}

.titleSection {
  @include m.flex(row, space-between, center);
  padding-bottom: v.$font-space-l;
  img {
    width: 40px;
    border: 1px solid black;
    border-radius: v.$border-radius-circle;
  }
}

.tagContainer {
  @include m.flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  gap: v.$font-space-l;
}
