@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.tag {
  border-radius: v.$border-radius-rounded * 2;
  padding: v.$font-space-s v.$font-space-m;
  margin: v.$font-space-s v.$font-space-m;
  font-size: v.$font-size-s;
  font-weight: v.$font-weight-extrabold;
  white-space: nowrap;
}
