//Colors

$color-sahara-sand: #fcf6a0;
$color-flame-pea: #f3976b;
$color-roman: #e36164;
$color-cerise: #9b084f;
$color-atlantis: #c1e94e;
$color-calypso: #196c84;
$color-blue-dianne: #0c3944;
$color-zeus: #474136;
$color-parsley: #24673a;
$color-blue-broom: #fff30d;

$color-neutral-0: #14181f;
$color-neutral-80: #e0e4eb;
$color-neutral-100: #ffffff;
