@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.homeSearchBar {
  @include m.inputStyleWithShadow;
  position: relative;
  width: 700px;
  margin: auto;
  form {
    @include m.flex(row, space-between, center);
    input {
      font-size: v.$font-size-l;
      &:focus-visible {
        outline: none;
      }
    }
    div {
      font-size: v.$font-size-l;
    }
  }
  &:hover {
    border: v.$border-width-m solid v.$color-neutral-0;
  }
}

.emptyInputStyle {
  @include m.emptyInputStyle;
  @include m.borderRight(v.$color-neutral-80);
}

.searchSelect {
  @include m.flex(row, space-evenly, center);
  width: 100%;
  p {
    span {
      color: v.$color-calypso;
      font-weight: 800;
      background-color: v.$color-atlantis;
      border-radius: v.$border-radius-circle;
      padding: 0.25rem 0.5rem;
      font-size: v.$font-size-xs;
    }
  }
}

.buttonSearch {
  @include m.buttonStyle(v.$color-cerise, v.$color-neutral-100);
  width: 60px;
}

.statusModal {
  @include m.inputStyleWithShadow;
  @include m.flex(column, space-evenly, flex-start);
  position: absolute;
  left: 24%;
  padding: 0 v.$font-space-xl;
  padding: 1rem;
  div {
    @include m.flex(row, space-evenly, flex-start);
    margin: v.$font-space-m 0;
  }
}

.dateModal {
  @include m.inputStyleWithShadow;
  @include m.flex(column, space-evenly, flex-start);
  position: absolute;
  right: 0;
  padding: 0 v.$font-space-xl;
  padding: 1rem;
  div {
    @include m.flex(row, space-evenly, flex-start);
    margin: v.$font-space-m 0;
    input[type="date"] {
      border: none;
      font-family: "Raleway";
      &:hover {
        outline: none;
      }
    }
  }
}
