@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.userMenuButtonModale {
  background-color: v.$color-neutral-100;
  border-radius: v.$border-radius-rounded;
  box-shadow: v.$box-shadow-l;
  width: 150px;
  height: 100px;
  position: absolute;
  top: 110px;
  right: 40px;
  padding: v.$font-size-xs;

  @include m.flex(column, space-evenly, flex-start);
  flex-wrap: nowrap;
  a {
    text-decoration: none;
    &:last-child {
      border-top: v.$border-width-m solid v.$color-neutral-80;
      padding-top: 0.5rem;
    }
  }
}
