@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.homeStyle {
  margin-top: 2rem;
}

.homeTitleAndSearchSection {
  @include m.flex(column, space-between, center);
  margin: 2rem;
  gap: 2rem;
}

.categoryAndDecisionSection {
  @include m.flex(column, space-between, flex-start);
  margin-top: 5rem;
  gap: 2rem;
}
