@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

footer {
  @include m.flex(row, space-between, center);
  border-top: v.$border-width-m solid v.$color-neutral-80;
  margin-top: v.$font-size-xxxxxl;
  padding: v.$font-size-xxxl 0;
  div {
    @include m.flex(row, space-between, center);
    gap: v.$font-size-xxl;
  }
}
