@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.decisionPageContainer {
  @include m.flex(row, flex-start, flex-start);
  section {
    padding: v.$font-size-xs 0 v.$font-size-xs v.$font-size-xs;
    flex-basis: 75%;
    min-height: 200px;
    @include m.flex(column, flex-start, flex-start);
    gap: 1rem;
  }
  aside {
    flex-basis: 25%;
    border: 1px solid red;
    min-height: 200px;
  }
}

.tagContainer {
  @include m.flex(row, flex-start, flex-start);
  gap: v.$font-size-xs;
}

.titleContainer {
  > div {
    @include m.flex(row, flex-start, center);
    gap: v.$font-size-xs;
    margin: v.$font-size-xs 0;
    span {
      font-weight: v.$font-weight-extrabold;
    }
  }

  img {
    @include m.avatar();
  }
}

.decisionContainer {
  width: 100%;
}
